div {
    height: 10vh;
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 50px;
    padding: 5px;
    color: var(--color3);
}

img:hover {
    opacity: 0.5;
}