div {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
}

.button {
    border-radius: 5px;
    background-color: var(--color2);
    width: 25%;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border-radius: 5px;
}

input {
    height: 2rem;
}

label, ::placeholder {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
}