<section>
    <div class="main">
        <div class="main-info">
            <h2>{{ product.name }}</h2>
            <img [src]="product.img" alt="">
            <p>{{ product.prix }}</p>
        </div>
        <div class="details">
            <div class="description">
                <h3>Description</h3>
                <p>{{ product.description }}</p>
            </div>
            <div class="technical-info">
                <h3>Fiche technique</h3>
                <p>Matière: {{ product.matiere}}</p>
                <p>Dimensions: {{ product.dimensions}}</p>
            </div>
        </div>