<section>
    <div class="titre">
        <img src="assets/pictures/Logo_au petit village.jpg" alt="">
        <h1>Au petit village</h1>
    </div>
    <img src="assets/pictures/banquet.jpeg" alt="">
    <div>
        <h2>Qui sommes-nous ?</h2>
        <p>Au petit village est une entreprise fondée il y a 15 ans par 2 fans de BD et de figurines. </p>
    </div>
    <div>
        <h2>Nos produits</h2>
        <div>
            <app-product-card [products]="products"></app-product-card>
        </div>
    </div>
</section>